*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  width: 50px;
}

.cart {
  margin-left: 15px;
}

.card{
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 20px;
}

.card > a{
  text-decoration: none;
  color: black;
}

.card > a:hover{
  text-decoration: none;
  color: black;
}

.regular-h{
  height: 250px;
}

.carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  box-shadow: inset 5px 5px 5px 5px rgba(0,0,0,1);    
}

.hidden{
  display: none;
}

.cart-in-item{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: solid 1px black;
  background-color: rgb(213, 255, 213);
  border-radius: 5px 0 5px 5px;
}

.cart-in-item:hover{
  background-color: lime;
}

.card-img-top{
  height: 200px;
}

.footer{
  height: 50px;
  line-height: 50px;
}

.menu-center{
  position: absolute;
  margin-left: -150px;
}

.loginXl{
  width: 400px;
}